body {
  font-family: Arial, sans-serif;
  background: #e5ddd5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}

h1 {
  color: #075e54;
}

form {
  margin-top: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 95%;
  padding: 10px;
  background-color: #25d366;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #128c7e;
}
